# Configuration for Zaino

# Backend:

# Type of backend to use. Options are:
# - "fetch" - Uses JsonRPC client to fetch data (Zcashd, Zainod).
# - "state" - Uses ReadStateService to fetch data (Zebrad).
backend = "fetch"

# Zainod JsonRPC server config:
# Optional: Some enables Zaino's JsonRPC server.
[json_server_settings]
  # JsonRPC server listen addr. Required if json_server_settings is Some.
  json_rpc_listen_address = "127.0.0.1:8237"

  # Some enables cookie-based authentication for JsonRPC server.
  # An empty PathBuf that is still Some will have a default emphemeral path assigned to it when zaino loads the config.
  # (e.g., /tmp/zaino/.cookie or XDG_RUNTIME_DIR) will be used.
  # Directory to store authentication cookie file.
  # cookie_dir = ""
  # cookie_dir = "/path/to/cookie_dir"

# gRPC server config:
# Required for valid zainod config.
[grpc_settings]
# Zainod's gRPC server listen address.
  # SocketAddress, Required.
  grpc_listen_address = "127.0.0.1:8137"

  # Some Enables TLS for the gRPC server.
  # tls: Option<GrpcTls>,
  # [tls]
    # Path to the TLS certificate file in PEM format.
    # cert_path: ""
    # cert_path = "/path/to/cert.pem"
    # Path to the TLS private key file in PEM format.
    # key_path = ""
    # key_path = "/path/to/key.pem"

# Validator config:
# Required for valid zainod config.
[validator_settings]
  # Full node / validator listen address.
  #
  # Must be a "private" address as defined in [IETF RFC 1918] for ipv4 addreses and [IETF RFC 4193] for ipv6 addreses.
  #
  # Must use validator rpc cookie authentication when connecting to non localhost addresses.
  # Required
  validator_grpc_listen_address =  "127.0.0.1:18232"

  # SocketAddr, Required.
  validator_jsonrpc_listen_address = "127.0.0.1:18230"

    # Optional. Enable validator rpc cookie authentication with Some.
    # Path to the validator cookie file.
    # validator_cookie_path = "/path/to/validator.cookie"
    # validator_cookie_path = ""
    # Optional. Enable  user / pass authentication with Some.
    # Full node / validator Username.
    # validator_user = ""
    # Optional. Enable user / pass authentication with Some
    # full node / validator Password.
    # validator_password: ""
    #
#  Service-level configuration (timeout, channel size).
#  Required.
#  [service]
#  ...

#  Storage configuration (cache and database).
#  Required.
#  [storage]
#
#  ZebraDB location.
#  PathBuf, Required.
#  zebra_db_path = ""
#
#  Network chain type.
#  Required.
#  Network chain type (Mainnet, Testnet, Regtest).
#  network = "Testnet"

# ----

# Capacity of the Dashmaps used for the Mempool.
# Also used by the BlockCache::NonFinalisedState when using the FetchService.
# If omitted, Zaino uses an internal default or relies on library defaults.
# map_capacity = 10000

# Number of shard used in the DashMap used for the Mempool.
# Also used by the BlockCache::NonFinalisedState when using the FetchService.
#
# shard_amount should greater than 0 and be a power of two.
# If omitted, Zaino uses an internal default or relies on library defaults.
# map_shard_amount = 16

# Zaino Block Cache database file path.
# If omitted, this defaults to $HOME/.cache/zaino/ (platform dependent).
# zaino_db_path = "/path/to/zaino_db"

# Zebra Block Cache database file path.
# If omitted, this defaults to $HOME/.cache/zebra/ (platform dependent).
# zebra_db_path = "/path/to/zebra_db"

# Block Cache database maximum size in gb.
# Only used by the FetchService.
# If omitted, no specific limit may be enforced by Zaino for this setting initially.
# db_size = 100
