# Configuration for Zaino

# Backend:

# Type of backend to use. Options are:
# - "fetch" - Uses JsonRPC client to fetch data (Zcashd, Zainod).
# - "state" - Uses ReadStateService to fetch data (Zebrad).
backend = "fetch"

# JsonRPC server config:

# Enables JsonRPC server.
enable_json_server =  false

# JsonRPC server listen addr.
json_rpc_listen_address = "127.0.0.1:8237"

# Enables cookie-based authentication for JsonRPC server.
enable_cookie_auth = false

# Directory to store authentication cookie file.
# If 'enable_cookie_auth' is true and this is omitted, a default ephemeral path (e.g., /tmp/zaino/.cookie or XDG_RUNTIME_DIR) will be used.
# If 'enable_cookie_auth' is false, this setting is ignored and no cookie_dir is used.
# cookie_dir = "/path/to/cookie_dir"

# gRPC server config:

# Zainod's gRPC server listen address.
#
# Must use TLS when connecting to non localhost addresses.
grpc_listen_address = "127.0.0.1:8137"

# Enables TLS for the gRPC server.
grpc_tls = false

# Path to the TLS certificate file in PEM format.
# Required if `grpc_tls` is true. If omitted and grpc_tls is true, startup will fail.
# tls_cert_path = "/path/to/cert.pem"

# Path to the TLS private key file in PEM format.
# Required if `grpc_tls` is true. If omitted and grpc_tls is true, startup will fail.
# tls_key_path = "/path/to/key.pem"

# JsonRPC client config:

# Full node / validator listen address.
#
# Must be a "private" address as defined in [IETF RFC 1918] for ipv4 addreses and [IETF RFC 4193] for ipv6 addreses.
#
# Must use validator rpc cookie authentication when connecting to non localhost addresses.
validator_listen_address = "127.0.0.1:18232"

# Enable validator rpc cookie authentication.
validator_cookie_auth = false

# Path to the validator cookie file.
# Required if `validator_cookie_auth` is true. If omitted and validator_cookie_auth is true, startup will fail.
# validator_cookie_path = "/path/to/validator.cookie"

# Optional full node / validator Username.
# validator_user = "xxxxxx"

# Optional full node / validator Password.
# validator_password = "xxxxxx"

# Mempool, Non-Finalised State and Finalised State config:

# Capacity of the Dashmaps used for the Mempool.
# Also used by the BlockCache::NonFinalisedState when using the FetchService.
# If omitted, Zaino uses an internal default or relies on library defaults.
# map_capacity = 10000

# Number of shard used in the DashMap used for the Mempool.
# Also used by the BlockCache::NonFinalisedState when using the FetchService.
#
# shard_amount should greater than 0 and be a power of two.
# If omitted, Zaino uses an internal default or relies on library defaults.
# map_shard_amount = 16

# Zaino Block Cache database file path.
# If omitted, this defaults to $HOME/.cache/zaino/ (platform dependent).
# zaino_db_path = "/path/to/zaino_db"

# Zebra Block Cache database file path.
# If omitted, this defaults to $HOME/.cache/zebra/ (platform dependent).
# zebra_db_path = "/path/to/zebra_db"
zebra_db_path = "/home/o/.cache/zebra/state/v27/testnet"

# Block Cache database maximum size in gb.
# Only used by the FetchService.
# If omitted, no specific limit may be enforced by Zaino for this setting initially.
# db_size = 100

# Network:

# Network chain type (Mainnet, Testnet, Regtest).
network = "Testnet"

# Options:

# Disables internal sync and stops zaino waiting on server to sync with p2p network.
# Useful for testing.
no_sync = false

# Disables the FinalisedState in the BlockCache
#
# Only used by the FetchServic.
# Used for testing.
no_db = false

# When enabled Zaino syncs it DB in the background, fetching data from the validator.
#
# NOTE: Unimplemented.
slow_sync = false
