[profile.default]
test-threads = 6
fail-fast = false
# retries = 1

# All the following tests keep failing because of zebra with the following error message:
# "Serialization/Deserialization Error: data did not match any variant of untagged enum Input at line 1 column <X>"
# We will ignore these tests for now in CI, until zebra releases the fix

[profile.ci]
default-filter = """
    not test(testnet)
    & not test(client_rpcs)
"""

[profile.ci.junit]  # this can be some other profile, too
path = "junit.xml"

[profile.rapid_superficial]
fail-fast = true
# Excludes tests that fail in low-resource environments (F13 laptop)
# Flaky tests: 50 tests that fail due to resource constraints
# Slow tests: 30 tests that pass but take >60s (for rapid iteration)
default-filter = """
    not test(chain_query_interface::find_fork_point_zcashd)
    & not test(chain_query_interface::get_block_range_zcashd)
    & not test(chain_query_interface::get_raw_transaction_zcashd)
    & not test(chain_query_interface::get_transaction_status_zcashd)
    & not test(chain_query_interface::repro_flake_zcashd)
    & not test(chain_query_interface::repro_nfs_drain)
    & not test(chain_query_interface::sync_large_chain_zcashd)
    & not test(chain_query_interface::sync_large_chain_zebrad)
    & not test(zebrad::get::mempool_info)
    & not test(zebrad::get::mempool_stream)
    & not test(zebrad::get::mempool_tx)
    & not test(zebrad::get::raw_mempool)
    & not test(zebrad::get::raw_transaction)
    & not test(zebrad::get::taddress_balance)
    & not test(zebrad::get::taddress_txids)
    & not test(zebrad::get::taddress_utxos)
    & not test(zebrad::get::taddress_utxos_stream)
    & not test(zebrad::get::transaction_mempool)
    & not test(zebrad::get::transaction_mined)
    & not test(zebrad::get::z::subtrees_by_index)
    & not test(zebrad::get::z::treestate)
    & not test(zcashd::get::tree_state)
    & not test(zcashd::zcash_indexer::check_info_no_cookie)
    & not test(zebrad::get::get_mempool_info)
    & not test(zebrad::get::raw_mempool_regtest)
    & not test(zebrad::get::raw_transaction_regtest)
    & not test(zebrad::get::address_balance_regtest)
    & not test(zebrad::get::address_balance)
    & not test(zebrad::get::address_tx_ids)
    & not test(zebrad::get::address_utxos)
    & not test(zebrad::get::block)
    & not test(zebrad::lightwallet_indexer::get_taddress_balance)
    & not test(zebrad::lightwallet_indexer::get_transaction)
    & not test(zcashd::monitor_unverified_mempool)
    & not test(zcashd::sent_to::orchard)
    & not test(zcashd::sent_to::sapling)
    & not test(zebrad::fetch_service::monitor_unverified_mempool)
    & not test(zebrad::fetch_service::send_to::all)
    & not test(zebrad::fetch_service::send_to::orchard)
    & not test(zebrad::fetch_service::send_to::sapling)
    & not test(zebrad::fetch_service::send_to::transparent)
    & not test(zebrad::fetch_service::shield)
    & not test(zebrad::state_service::monitor_unverified_mempool)
    & not test(zebrad::state_service::send_to::all)
    & not test(zebrad::state_service::send_to::orchard)
    & not test(zebrad::state_service::send_to::sapling)
    & not test(zebrad::state_service::send_to::transparent)
    & not test(zebrad::state_service::shield)
    & not test(launch_testmanager::zcashd::zaino_clients_receive_mining_reward)
    & not test(launch_testmanager::zebrad::state_service::zaino_clients_receive_mining_reward_and_send)
    & not test(=zcashd::process_100_blocks)
    & not test(=zcashd::process_200_blocks)
    & not test(=launch_testmanager::zebrad::fetch_service::zaino_clients_receive_mining_reward_and_send)
    & not test(=zcashd::sent_to::transparent)
    & not test(=zcashd::shield)
    & not test(=zcashd::sent_to::all)
    & not test(=zcashd::get::best_blockhash)
    & not test(=zcashd::get::block_count)
    & not test(=zcashd::get::block_range)
    & not test(=zcashd::get::block_range_nullifiers)
    & not test(=zcashd::get::block_subsidy)
    & not test(=zcashd::get::mempool_info)
    & not test(=zcashd::get::mempool_stream)
    & not test(=zcashd::get::mempool_tx)
    & not test(=zcashd::get::raw_mempool)
    & not test(=zcashd::get::raw_transaction)
    & not test(=zcashd::get::taddress_balance)
    & not test(=zcashd::get::taddress_txids)
    & not test(=zcashd::get::taddress_utxos)
    & not test(=zcashd::get::taddress_utxos_stream)
    & not test(=zcashd::get::transaction_mempool)
    & not test(=zcashd::get::transaction_mined)
    & not test(=zcashd::get::z::get_treestate)
    & not test(=zcashd::get::z::subtrees_by_index)
    & not test(=zcashd::zcash_indexer::get_difficulty)
    & not test(=zcashd::zcash_indexer::get_mempool_info)
    & not test(=zcashd::zcash_indexer::get_raw_mempool)
    & not test(=zcashd::zcash_indexer::get_raw_transaction)
    & not test(=zcashd::zcash_indexer::z_get_subtrees_by_index)
    & not test(=zcashd::zcash_indexer::z_get_treestate)
"""
