[tasks.fmt]
command = "cargo"
args = ["fmt", "--all", "--", "--check"]

[tasks.clippy]
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

[tasks.doc]
env = { RUSTDOCFLAGS = "-D warnings" }
command = "cargo"
args = ["doc", "--no-deps", "--all-features", "--document-private-items"]

[tasks.lint]
description = "Run all lints. Use as a pre-commit hook."
dependencies = ["fmt", "clippy", "doc"]
