name: Docker Image CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - cargo-make-pipeline # just while testing, remove before merging
    paths:
      - '.env.testing-artifacts'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

    - name: Compute version-based image tag
      id: taggen
      run: |
        source .env.testing-artifacts
        export RUST_VERSION ZCASH_VERSION ZEBRA_VERSION
        TAG=$(./utils/get-ci-image-tag.sh)
        echo "tag=$TAG" >> "$GITHUB_OUTPUT"

    - name: Extract versions and git SHA
      id: versions
      run: |
        source .env.testing-artifacts
        echo "sha_short=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
        echo "RUST_VERSION=$RUST_VERSION" >> "$GITHUB_OUTPUT"
        echo "ZCASH_VERSION=$ZCASH_VERSION" >> "$GITHUB_OUTPUT"
        echo "ZEBRA_VERSION=$ZEBRA_VERSION" >> "$GITHUB_OUTPUT"

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile.ci
        platforms: linux/amd64,linux/arm64
        tags: |
          ${{ env.IMAGE_NAME }}:latest
          ${{ env.IMAGE_NAME }}:${{ steps.versions.outputs.sha_short }}
          ${{ env.IMAGE_NAME }}:${{ steps.taggen.outputs.TAG }}
        push: true
        build-args: |
          RUST_VERSION=${{ env.RUST_VERSION }}
          ZCASH_VERSION=${{ env.ZCASH_VERSION }}
          ZEBRA_VERSION=${{ env.ZEBRA_VERSION }}
