name: CI - Nightly

on:
  schedule:
    - cron: '30 3 * * *'
  workflow_dispatch:

jobs:
  pr-checks:
    uses: ./.github/workflows/ci.yaml

  cargo-hack-build:
    name: Cargo Hack Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install protoc
        run: |
          if ! command -v protoc; then
            sudo apt-get update
            sudo apt-get install -y protobuf-compiler
          fi

      - name: Run cargo-hack
        uses: zingolabs/infrastructure/.github/actions/cargo-hack@6b03f1ad04f8843d543fbae2a84360ba1c4812cc
        with:
          hack-subcommand: build
