name: CI checks

on: 
  push:
    tags:
      - '**'
    branches:
      - test-sh-cache
  pull_request:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.MINIO_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.MINIO_SECRET_KEY }}
  AWS_REGION: us-east-1
  CACHE_ENDPOINT: gh-cache-hl.minio-tenants.svc.cluster.local
  CACHE_PORT: 9000
  CACHE_BUCKET: gha-cache-bucket
  INSECURE_CACHE: true

jobs:

  build-test-artifacts:
    name: Build test artifacts
    container:
      image: zingodevops/zaino-ci
    runs-on: arc-sh-runners
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - run: rustup toolchain install stable --profile minimal

      - name: MinIO Cache (cargo + target)
        uses: tespkg/actions-cache@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: rust-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: rust-cache-${{ github.job }}-
          path: |
            ~/.cargo
            target

      - name: Build and archive tests
        run: cargo nextest archive --verbose --workspace --all-features --archive-file nextest-archive.tar.zst

      - name: Save nextest archive to S3
        uses: tespkg/actions-cache/save@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: nextest-archive-${{ github.sha }}
          path: nextest-archive.tar.zst

  check:
    name: Cargo Check
    runs-on: arc-sh-runners
    container:
      image: zingodevops/zaino-ci:latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: MinIO Cache (cargo + target)
        uses: tespkg/actions-cache@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: rust-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: rust-cache-${{ github.job }}-
          path: |
            ~/.cargo
            target

      - name: Cargo Check
        run: |
          cargo check --all-features
          cargo check --tests --all-features

      - name: Output clippy to Github
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets

  test:
    name: Tests
    needs: build-test-artifacts
    runs-on: arc-sh-runners
    container:
      image: zingodevops/zaino-ci:latest
    strategy:
      fail-fast: false
      matrix:
        partition: 
          - "integration-tests::fetch_service"
          - "integration-tests::state_service"
          - "integration-tests::local_cache"
          - "integration-tests::wallet_to_validator"
          - "zaino-testutils"

    steps:
      - uses: actions/checkout@v4

      - run: rustup toolchain install stable --profile minimal

      - name: MinIO Cache (cargo + target)
        uses: tespkg/actions-cache@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: rust-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: rust-cache-${{ github.job }}-
          path: |
            ~/.cargo
            target

      - name: Copy bins into test_binaries
        run: |
          mkdir -p ./test_binaries/bins
          cp /usr/local/bin/* ./test_binaries/bins/

      - name: Restore nextest archive from S3
        uses: tespkg/actions-cache/restore@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: nextest-archive-${{ github.sha }}
          path: nextest-archive.tar.zst

      - name: Run Tests (Nextest)
        run: |
          cargo nextest run --verbose --profile ci --retries 2 --archive-file nextest-archive.tar.zst \
            --workspace-remap ./ --filterset "binary_id(${{ matrix.partition }})" ${{ env.NEXTEST-FLAGS }}

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "target/nextest/ci/junit.xml"
        if: always()

  fmt:
    name: Rustfmt
    runs-on: arc-sh-runners
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: MinIO Cache (cargo + target)
        uses: tespkg/actions-cache@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: rust-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: rust-cache-${{ github.job }}-
          path: |
            ~/.cargo
            target

      - name: Check formatting
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: arc-sh-runners
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: MinIO Cache (cargo + target)
        uses: tespkg/actions-cache@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: rust-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: rust-cache-${{ github.job }}-
          path: |
            ~/.cargo
            target

      - name: Run clippy with console output
        run: cargo clippy --all-targets
        continue-on-error: true

      - name: Output clippy to Github
        uses: actions-rs/clippy-check@v1
        continue-on-error: true
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets

  whitespace:
    name: Whitespace check
    runs-on: arc-sh-runners
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: MinIO Cache (cargo + target)
        uses: tespkg/actions-cache@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: rust-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: rust-cache-${{ github.job }}-
          path: |
            ~/.cargo
            target

      - name: Check trailing whitespace
        run: ./utils/trailing-whitespace.sh reject
        working-directory: .
