name: CI - PR

on:
  workflow_call:
    inputs:
      nextest-profile:
        type: string
        default: 'quick'
  workflow_dispatch:
  push:
    tags:
      - "**"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.MINIO_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.MINIO_SECRET_KEY }}
  AWS_REGION: us-east-1
  CACHE_ENDPOINT: gh-cache-hl.minio-tenants.svc.cluster.local
  CACHE_PORT: 9000
  CACHE_BUCKET: gha-cache-bucket
  INSECURE_CACHE: true

jobs:
  compute-tag:
    uses: ./.github/workflows/compute-tag.yml

  build-test-artifacts:
    name: Build test artifacts
    needs: compute-tag
    container:
      image: zingodevops/zaino-ci:${{ needs.compute-tag.outputs.image-tag }}
    runs-on: arc-sh-runners
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore cargo dependencies
        id: restore-cargo
        uses: tespkg/actions-cache/restore@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-deps-
          path: |
            ~/.cargo
            target/debug/deps

      - name: Build and archive tests
        run: cargo nextest archive --verbose --workspace --all-features --archive-file nextest-archive.tar.zst

      - name: Save cargo dependencies
        if: steps.restore-cargo.outputs.cache-hit != 'true'
        uses: tespkg/actions-cache/save@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          path: |
            ~/.cargo
            target/debug/deps

      - name: Save nextest archive to S3
        uses: tespkg/actions-cache/save@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: nextest-archive-${{ github.sha }}
          path: nextest-archive.tar.zst

  test:
    name: Tests
    needs: [compute-tag, build-test-artifacts]
    runs-on: arc-sh-runners
    container:
      image: zingodevops/zaino-ci:${{ needs.compute-tag.outputs.image-tag }}
    strategy:
      fail-fast: false
      matrix:
        partition:
          # - "integration-tests::chain_cache" FIXME: this must be reintroduced when the chain index test hangs are debugged
          - "integration-tests::fetch_service"
          - "integration-tests::json_server"
          - "integration-tests::local_cache"
          - "integration-tests::state_service"
          - "integration-tests::test_vectors"
          - "integration-tests::wallet_to_validator"
          - "zainod"
          - "zaino-state"
          - "zaino-testutils"
    steps:
      - uses: actions/checkout@v4

      - name: Restore cargo dependencies
        uses: tespkg/actions-cache/restore@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-deps-
          path: |
            ~/.cargo
            target/debug/deps

      - name: Setup test binaries
        run: |
          # Run the entrypoint script with the actual working directory
          /usr/local/bin/entrypoint.sh "$(pwd)"

      - name: Restore nextest archive from S3
        uses: tespkg/actions-cache/restore@v1
        with:
          endpoint: ${{ env.CACHE_ENDPOINT }}
          port: ${{ env.CACHE_PORT }}
          bucket: ${{ env.CACHE_BUCKET }}
          insecure: ${{ env.INSECURE_CACHE }}
          key: nextest-archive-${{ github.sha }}
          path: nextest-archive.tar.zst

      - name: Run Tests (Nextest)
        env:
          TEST_BINARIES_DIR: ${{ github.workspace }}/test_binaries/bins
        run: |
          cargo nextest run --verbose --profile ${{ inputs.nextest-profile || 'quick' }} --retries 2 --no-tests fail --archive-file nextest-archive.tar.zst \
            --workspace-remap ./ --filterset "binary_id(${{ matrix.partition }})" ${{ env.NEXTEST-FLAGS }}

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "target/nextest/${{ inputs.nextest-profile || 'quick' }}/junit.xml"
